{% extends 'base.html' %}

{% block 'title' %}Užsakymas{% endblock %}

{% block 'content' %}
<h1>Užsakymas:</h1>
<p>
    <strong>Klientas: </strong>{{ order.client }}
    <img class="rounded-circle account-img" style="width:40px" src="{{ order.client.profile.photo.url }}">
</p>
<p><strong>Data: </strong>{{ order.date }}</p>
<p><strong>Gražinimo data: </strong>{{ order.deadline }}</p>
<p><strong>Automobilis: </strong>{{ order.car }}</p>
<p><strong>Būsena: </strong>{{ order.get_status_display }}</p>
{% if order.client == user %}
<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'order_update' order.pk %}">Redaguoti</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'order_delete' order.pk %}">Ištrinti</a>
</div>
<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'orderline_new' order.pk %}">Pridėti paslaugą</a>
</div>
{% endif %}
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>Paslauga</th>
        <th>Kaina</th>
        <th>Kiekis</th>
        <th>Suma</th>
      </tr>
    </thead>
    <tbody>
    {% for line in order.lines.all %}
      <tr>
        <td>{{ line.service.name }}</td>
        <td>{{ line.service.price }}</td>
        <td>{{ line.quantity }}</td>
        <td><b>{{ line.line_sum }}</b></td>
      </tr>
    {% endfor %}
    <tr>
        <td colspan="3"><b>Bendra suma:</b></td>
        <td><b>{{ order.total }}</b></td>
    </tr>
    </tbody>
  </table>
<h2>Komentarai:</h2>
{% if user.is_authenticated %}
<div class="fieldWrapper">
    <hr><br/>
    <h1>Palikite atsiliepimą</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.content }}<br/>
        <input type="submit" value="Paskelbti">
    </form>
</div>
{% endif %}
{% for comment in order.comments.all %}
<div>
    <img class="rounded-circle account-img" style="width:40px" src="{{ comment.user.profile.photo.url }}">
    <strong>{{ comment.user }}</strong>, <em>{{ comment.date_created }}</em>
</div>
<p>{{ comment.content }}</p>
{% endfor %}
{% endblock %}